*.o
Debug/
Release/
*.user
CMakeFiles/
CMakeCache.txt
*.smproj
Makefile
doc/build/
doc/xml/
*.gcov
*.idb
*.ipch
*.lastbuildstate
*.log
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.unsuccessfulbuild
build/

.vs/
*.cmake